/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

.spacer{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.myPage{
    padding: 1.5em 1.5em 1.5em 1.5em;
}
.mySelect{
    width: 100%;
}
.myInput{
    padding: 10px;
    margin-top: 10px;
    top: 10px;
}
.myFab{
    margin-bottom: 0px;
}
.mySpacer{
    width: 80%;
}
.icon{
    color: indigo;
}
.myAddButton{
    color: indigo;
}
.example-fab {
  position: fixed;
  right: -270px;
}
.fab-container{
    display: flex;
    overflow: visible;
    position: relative;
}